@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;600&display=swap");
$primaryColor: #0e2131;
$blackColor: #ba2025;
$secundaryColor: white;
$fontFamily: "Exo 2", sans-serif;
$fontSize: 16px;
$maxWidth: 1140px;
$marginGrid: 10px;
$breakPointTablet: 768px;
$breakPointDesktop: 1140px;
